.rentals-list-container {
    /* height: 100vh; */
    flex-grow: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #D5D5D3; */
}

.rental-container {
    width: 90%;
    max-width: 800px;
    height: 160px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-around;
    border: 3px solid grey;
    background-color: white;
    text-decoration: none;
}

.tool-image {
    width: auto;
    height: auto;
    max-height: 100%;
    border: 0;
}

.rental-info {
    text-align: left;
}