.chatview-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	border-left: 1.5px solid lightgrey;
}

.chatview-container .convo-header {
	border-bottom: 1.5px solid lightgrey;
	text-align: left;
	padding: 0 10px 0 10px;
}

.chatview-container .messages-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 10px 10px 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-grow: 1;
	width: 100%;
	background-color: white;
}

.chatview-container button {
	width: max-content;
	height: 30px;
	border-radius: 8px;
	border: 1px solid grey;
}

.chatview-container .send-btn {
	background-color: #4cd863;
}

.chatview-container .end-btn {
	background-color: #e83e33;
}

.chatview-container .input-area {
	border-top: 1.5px solid lightgrey;
	padding: 10px 10px 10px 5px;
}

.chatview-container .input-area form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.chatview-container .input-area form .message-input {
	width: 60%;
	border: 1.5px solid lightgrey;
	border-radius: 3px;
	height: 35px;
	padding: 0;
	max-width: 490px;
}

.chatview-container .input-area form .buttons-container {
	width: 39%;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.message-container {
	border-radius: 10px;
	width: max-content;
	max-width: 80%;
	clear: both;
	margin: 5px 0 5px 0;
}

.align-left {
	margin-right: auto;
	background-color: #e7e5eb;
}

.align-right {
	margin-left: auto;
	background-color: #4cd863;
}
