/* .pageContainer {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
} */

.chat-dashboard-container {
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	justify-content: center;
	overflow-y: hidden;
	overflow-x: hidden;
}

.chat-dash-left-container {
	width: 35%;
	height: 100%;
}

.chat-dash-right-container {
	border: 1px solid lightgray;
	width: 65%;
	height: 100%;
	/* overflow-x: hidden; */
}

.chat-dash-right-container p {
	font-size: 22px;
	margin-top: 5%;
}

@media (max-width: 800px) {
	.chat-dashboard-container {
		margin: auto;
		height: calc(100vh - 120px);
	}
}

@media (max-width: 600px) {
	.chat-dashboard-container {
		margin: auto;
		height: calc(100vh - 60px);
	}
}
