.account-page-container {
    /* background-color: #EAEAEA; */
    height: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
  
.account-page-container .left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 100%; */
}

.account-page-container .left-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.update-password-link {
    text-decoration: none;
    margin: 50px 10px 10px 10px;
}

.location-input {
    margin-left: 9px;
    width: 175px;
}

.account-page-container .left-container button {
    margin-top: 5%;
    margin-left: 5%;
    width: max-content;
    height: 8%;
    align-self: flex-start;
}

.account-page-container .right-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-page-container .right-container .profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.account-page-container .right-container .profile-image-container img {
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 150px;
}

@media (max-width: 600px) {

    .account-page-container {
        flex-direction: column-reverse; 
    }

    .account-page-container .left-container {
        width: 100%;
        
    }

    .account-page-container .right-container {
        width: 100%;
        align-items: flex-start;
        
    }

    .account-page-container .right-container .profile-image-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .account-page-container .right-container .profile-image-container img {
        border-radius: 50%;
        height: auto;
        width: auto;
        max-width: 100px;
    }
}
