.account-page-container {
    /* background-color: #EAEAEA; */
    height: 100%;
    display: flex;
    align-items: center;
}
  
.account-page-container .left-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.account-page-container .left-container form {
    display: flex;
    flex-direction: column;
}

.account-page-container .left-container button {
    margin-top: 5%;
    margin-left: 5%;
    width: 10%;
    height: 8%;
    align-self: flex-start;
}