

.nav-bar {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    background-color: #3E6CAA;
}

.link-container  {
    display: flex;
    flex-direction: space-between;
    align-items: center;
}

.nav-link {
    margin: 0px 0px 0px 0px;
}