.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 70px;
    background-color: #61DAFB;
}

.nav-link-container {
    width: 40%;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
}

.nav-link {
    margin: 0px 30px 0px 0px;
    text-decoration: none;
}

.logo {
    padding: 15px;
    /* font-weight: bold; */
}