.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 80px;
    background-color: #3E6CAA;
}

.nav-link-container {
    width: 70%;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
}

.nav-link {
    margin: 0px 30px 0px 0px;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: white;
}

.logo {
    padding: 10px;
    margin: 0;
}

.nav-menu-btn {
    display: none;
}

@media (max-width: 800px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: space-around;
        margin: auto;
        height: 120px;
    }
    
    .nav-link-container {
        /* display: none; */
        width: 90%;
        min-width: 300px;
        display: flex;
        justify-content: space-around;
        margin: 0px 30px 0px 30px;
    }
    
    .nav-link {
        /* display: none; */
        margin: 0px 30px 0px 0px;
        text-decoration: none;
    }

    .nav-menu-btn {
        display: inline-block;
    }
}

@media (max-width: 600px) {
    .nav-container {
        height: max-content;
    }
    
    .nav-link-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-link {
        margin: 3px 15px 3px 0px;
        text-decoration: none;
    }
}