.owner-dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}

.vertical-tabs-container {
    width: max-content;
}

.selected-view-container {
    flex-grow: 1;
}