.page-container {
    display: flex;
    flex-direction: column;
}

.title {
    padding: 10px;
    text-align: left;
}

.main-container {
    margin: 10px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.left-container {
    /* border: 1px solid black; */
    width: 40%;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-image {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: max-content; */
    width: 50%;
}

.tool-info {
    margin: 0 10px 0 10px;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.available-container {
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.tool-info .button {
    margin: 10px;
    width: 150px;
}

.right-container .tool-management {
    height: 100px;
    width: 100%;
    padding-top: 15px;
    margin: 30px 10px 10px 10px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid grey;
}

@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
        align-items: space-around;
    }
}
