.confirm-rental-panel {
    width: 400px;
    margin: 30px auto 30px auto;
}

.confirm-rental-panel .rental-info-container {
    width: 100%;
}

.confirm-rental-panel .rental-info-container .image-container {
    width: 80%;
}

.confirm-rental-panel .rental-info-container .image-container img {
    width: auto;
    height: auto;
    max-height: 250px;
}