.main-container {
    display: flex;
    flex-direction: space-between;
}

.tools-list-container {
    /* margin-left: 20px; */
    margin: 20px 10px 20px 10px;
}

img {
    width: 100%;
    border: 2px solid grey;
    border-radius: 2px;
    /* margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px; */
}

.grid-item {
    width: 25%;
}

@media (max-width: 700px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .tools-grid {
        margin: auto;
        width: 100%;
    }

    .grid-item {
        width: 45%;
    }
}